// out: ./style.css, sourcemap: true, compress: false
@import "var.less";
body {
    padding: 0;
    margin: 0;
    background-color: @main;
    color: white;
    font-family: 'Arial', sans-serif;

    [data-use="sidebar"] {
        background-color: @grey;
        width: 20vw;
        height: 100vh;
        position :absolute;
        top: 0;
        padding: 5%;
        box-shadow: -2px 0px 10px black inset;
        h1 {
            color: white;
            text-transform: uppercase;
            font-size: 1rem;
            svg {
                padding-left: 10px;
                cursor: pointer;
                &:hover {
                    color: @main;
                }
            }
        }
    }
    [data-use="sidebar-connected"] {
        input {
            border: none;
            background-color: @grey;
            color: white;
            padding: 10px 2px;
            border-bottom: 1px solid white;
            text-transform: uppercase;
            &:hover {
                border-bottom: 1px solid @main;
                color: @main;
                cursor: pointer;
            }
        }
    }
    [data-use="notification"] {
        color: @grey;
        font-weight: bold;
        .checked {
            color: #296e10;
            font-size: 34px;
            font-weight: bold;
            padding-right: 9px;
        }

    }
    [data-use="create-card"] {
      label {
        display: inline-block;
        width: 5em;
      }
      select {
        height: 25px;
        margin-bottom : 10px;
      }
      [type="date"]{
        height: 15px;
      }
    }
    [data-use="get-card"] {
    display: flex;
    flex-direction : row;
      > div {
        width: 250px;
        border: solid 2px black;
        border-radius: 5px;
        margin-right: 1em;
        > div:first-of-type {
          display: flex;
          flex-direction: row;
          align-items: center;
          border-bottom: solid 2px black;
          h3 {
            width: 80%;
            text-align: center;
          }
          div {
            position: relative;
            width: 20%;
            nav {
              width: 500%;
              position: absolute;
              top: 100%;
              right: 0px;
              ul {
                padding: 0px;
              }
              ul li {
              background-color: black;
              list-style-type: none;
              text-align: right;
              }
              ul li:hover {
                color: red;
                cursor: pointer;
              }
            }
          }
          img {
            width: 80%;
          }
          img:hover {
            cursor: pointer;
            color: yellow;
          }
        }
        > div:nth-of-type(2){
          border-bottom: solid 2px black;
          img {
            width: 20px;
          }
        }
        > div:nth-of-type(3){
          border-bottom: solid 2px black;
          img {
            width: 20px;
          }
        }
      }
    }

    .content {
        margin-left: 30vw;
        padding: 10%;
        input {
            margin-bottom: 10px;
            border: none;
            padding: 5px;
        }
        .button {
            color: @main;
            background-color: white;
            font-weight: bold;
            border-radius: 3px;
            &:hover {
                background-color: @grey;
                color: white;
            }
        }
        .big {
            padding: 15px;
            font-size: 1.2rem;
            background-color: #26282a;
            color: white;
            &:hover {
                background-color: white;
                color: @grey;
            }
        }
        #passwordError {
            color: @grey;
            font-weight: bold;
        }
    }
    .flex {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .hidden {
        display: none;
    }

    .blanked {
      visibility: hidden;
    }

    #passwordError {
        color: #131313;
        font-weight: bold;
    }
    .img-avatar {
        width: 100%;
        border-radius: 5px;

        max-width: 150px;

    }
    .error {
      color: yellow;
    }
    .success {
      color: white;
    }
    .warning {
        color: @grey;
        font-weight: bold;
    }
}
