body {
  padding: 0;
  margin: 0;
  background-color: #db4c3f;
  color: white;
  font-family: 'Arial', sans-serif;
}
body [data-use="sidebar"] {
  background-color: #26282a;
  width: 20vw;
  height: 100vh;
  position: absolute;
  top: 0;
  padding: 5%;
  box-shadow: -2px 0px 10px black inset;
}
body [data-use="sidebar"] h1 {
  color: white;
  text-transform: uppercase;
  max-width: 80%;
}
body .content {
  margin-left: 30vw;
  padding: 10%;
}
body .content input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
}
body .content .button {
  color: #db4c3f;
  background-color: white;
  font-weight: bold;
  border-radius: 3px;
}
body .content .button:hover {
  background-color: #26282a;
  color: white;
}
body .flex {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
body .hidden {
  display: none;
}
body .blanked {
  visibility: hidden;
}
body #passwordError {
  color: #131313;
  font-weight: bold;
}
body .error {
  color: yellow;
}
body .success {
  color: green;
}
